<div>
  <p>ABOUT ME</p>
  I am a software developer with an interest in developing creative solutions
  for all things computing. The wonder about development is that if you learn to
  speak the language of the computer, you can instruct it to carry out specific
  functionalities tailored to your needs. If you don't like how Excel appears or
  functions, you can tell it to do something else. If you don't like how your
  website appears, you can change its appearance with granular precision. And,
  perhaps most powerfully, if you don't like repeating the same task over and
  over again (such as repeatedly downloading data and performing calculations,
  or fetching updated files online), you can instruct a program to do this for
  you! I have experience with C#, Html, Css, Javascript, React, Python
</div>
