<div>
  <div class="top-image-container">
    <img src="/assets/images/teaching.jpg" class="top-image" />
    <div class="top-image-text">
      <div>Teaching</div>
    </div>
  </div>
  <div class="pageview-block">
    <div class="section-heading">Teaching Experience</div>
    <div class="experience-container narrow-width-container">
      <div class="teaching-philosophy">My teaching philosophy</div>
      <div class="experience-description">
        I taught university students from 2013 - 2020 as a Graduate Teaching
        Assistant at Columbia University and as a Lecturer at the University of
        California, San Diego. I find that, while knowledgeability is a
        requisite for any teacher, empathy is required to be an effective
        teacher. The ability to empathise with students as I explain concepts
        enables me to take their perspective, understand what they have
        absorbed, and bridge the conceptual gap that separates us. This dynamic
        facilitates teaching strategies that target students' individual
        strengths and weaknesses, leading to a unique sense of pride every time
        I witness that "aha" moment.
      </div>
    </div>
  </div>
  <div class="pageview-block">
    <div class="section-heading">University of California, San Diego</div>
    <div class="course-description-container">
      <div class="course-description-three">
        <div class="section-subheading course-title">
          Principles of Microeconomics
        </div>
        <div id="microIcon" class="course-icon"></div>
        <div>
          An introduction to Microeconomics introducing the standard economic
          models used to examine how households and firms make decisions in
          perfectly competitive markets, and how these decisions affect supply
          and demand in output markets.
        </div>
      </div>
      <div class="course-description-three">
        <div class="section-subheading course-title">
          Principles of Macroeconomics
        </div>
        <div id="macroIcon" class="course-icon"></div>
        <div>
          An introductory course in Macroeconomics covering economy-wide topics
          including unemployment, inflation, business cycles, monetary, and
          fiscal policy.
        </div>
      </div>
      <div class="course-description-three">
        <div class="section-subheading course-title">Financial Markets</div>
        <div id="financialMarketsIcon" class="course-icon"></div>
        <div>
          An introduction to financial markets covering the institutional
          structure and functioning of financial markets, investors' portfolio
          decisions, and the basic risk-return trade-off as a market
          equilibrium. Introduces a variety of asset classes including stocks,
          bonds, cash instruments, and derivatives.
        </div>
      </div>
    </div>
  </div>
  <div class="pageview-block">
    <div class="section-heading">Columbia University</div>
    <div class="course-description-container">
      <div class="course-description-four">
        <div class="section-subheading course-title">
          Principles of Economics
        </div>
        <div id="principlesIcon" class="course-icon"></div>
        <div>
          A course introducing basic economic concepts, models and ideas, while
          providing the tools to better understand how the economy works.
          Introduces both Microeconomics, which looks at the choices of
          individuals (households and firms), and Macroeconomics, which looks at
          the aggregate behavior of the economy.
        </div>
      </div>
      <div class="course-description-four">
        <div class="section-subheading course-title">
          Intermediate Microeconomics
        </div>
        <div id="intermediateIcon" class="course-icon"></div>
        <div>
          A second course in Microeconomics which takes a deeper look into the
          decisions of households and firms that comprise the larger economy. A
          detailed examination of the economic models underlying these decisions
          motivates fundamental economic results and predictions. Topics include
          consumer and producer theory, market structure, game theory,
          information economics, and public policy.
        </div>
      </div>
      <div class="course-description-four">
        <div class="section-subheading course-title">
          The Economics of Risk and Uncertainty
        </div>
        <div id="riskIcon" class="course-icon"></div>
        <div>
          An advanced course in Microeconomics introducing decisions made under
          uncertainty regarding future outcomes. Risk and risk-aversion are
          rigorously defined and motivate the study of expected utility theory,
          insurance, portfolio choice, principle-agent problems,
          signaling/screening, and information theories of financial
          intermediation.
        </div>
      </div>
      <div class="course-description-four">
        <div class="section-subheading course-title">
          Microeconomic Analysis I
        </div>
        <div id="gradIcon" class="course-icon"></div>
        <div>
          A first course in the PhD Microeconomics sequence investigating
          household and firm behaviour at a granular level. Theorems are
          presented and proven regarding the theory of choice and applied to
          consumers and producers. These motivate the rigorous study of general
          equilibrium under uncertainty and its welfare implications.
        </div>
      </div>
    </div>
  </div>
</div>
